.company{
    width: 100%;
    height: 700px;
    background: url(../img/company.jpeg) center/cover;
    margin-top: 90px;
}

.company-gradient{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background: rgba(22, 33, 52, 0.7);
}

.company-txt{
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    margin: 0px 100px;
    color: white;
    text-align: center;
}

.company-block-1{
    display: flex;
    padding: 80px 100px;
    background: white;
    justify-content: center;
}

.company-block-inside{
    display: flex;
    max-width: 1920px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 40px;
}

.company-block-1-top{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    background: rgb(19, 47, 94);
    color: white;
    padding: 15px 25px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 2px rgba(19, 47, 94, 0.24);
}

.company-block-1-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

.company-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.company-slider-overflow{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

.company-slider-full{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.company-slider-block{
    margin: auto;
    width: 560px;
    height: 400px;
    background: url(../img/Rectangle\ 37.png) center/cover;
}

.company-slider-block-gradient{
    width: 100%;
    height: 100%;
    background: rgba(22, 33, 52, 0.45);
}

.active{
    width: 800px;
    height: 500px;
}

.active .company-slider-block-gradient{
    opacity: 0;
}

.company-slider-btns{
    display: flex;
    align-items: center;
    gap: 200px;
}

.company-slider-btn-left,
.company-slider-btn-right{
    width: 50px;
    height: 50px;
    background: none;
    outline: none;
    border-radius: 50%;
    border: 4px solid rgb(19, 47, 94);
}

.company-slider-radiobtns{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.company-slider-btns input{display: none;}

.company-slider-label{
    width: 20px;
    height: 20px;
    border: 3px solid rgb(19, 47, 94);
    border-radius: 50%;
    box-sizing: border-box;
    transition: background 200ms;
    cursor: pointer;
}

#company-slider-radiobtn-1:checked ~ .company-slider-radiobtns label:nth-child(1),
#company-slider-radiobtn-2:checked ~ .company-slider-radiobtns label:nth-child(2),
#company-slider-radiobtn-3:checked ~ .company-slider-radiobtns label:nth-child(3),
#company-slider-radiobtn-4:checked ~ .company-slider-radiobtns label:nth-child(4),
#company-slider-radiobtn-5:checked ~ .company-slider-radiobtns label:nth-child(5),
#company-slider-radiobtn-6:checked ~ .company-slider-radiobtns label:nth-child(6),
#company-slider-radiobtn-7:checked ~ .company-slider-radiobtns label:nth-child(7),
#company-slider-radiobtn-8:checked ~ .company-slider-radiobtns label:nth-child(8),
#company-slider-radiobtn-9:checked ~ .company-slider-radiobtns label:nth-child(9){
    background: rgb(19, 47, 94);
}

.company-our-projects{
    padding: 80px 100px;
    background: #D5D7DE;
}

.company-our-projects-inside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1590px;
    margin: 0px auto;
}

.company-our-projects-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.company-our-projects-card{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-our-projects-card-image{
    width: 360px;
    height: 270px;
    background: #acadb3;
}

.company-our-projects-card-top{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: rgb(19, 47, 94);
}

.company-our-projects-card-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #55555c;
}

.company-our-projects-card-btn{
    padding: 10px 20px;
    background: rgb(19, 47, 94);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    width: fit-content;
    text-decoration: none;
}