.company{
    width: 100%;
    height: 700px;
    background: url(../img/company.jpeg) center/cover;
    margin-top: 90px;
}

.company-gradient{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background: rgba(22, 33, 52, 0.7);
}

.company-txt{
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    margin: 0px 100px;
    color: white;
    text-align: center;
}

.company-block-1{
    display: flex;
    padding: 80px 100px;
    background: white;
    justify-content: center;
}

.company-block-inside{
    display: flex;
    max-width: 1920px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 40px;
}

.company-block-1-top{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    background: rgb(19, 47, 94);
    color: white;
    padding: 15px 25px;
    width: fit-content;
    border-radius: 20px;
}

.company-block-1-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

.company-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.company-slider-overflow{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

.company-slider-full{
    position: absolute;
    display: flex;
    flex-direction: row;
}

.company-slider-block{
    margin: auto;
    width: 560px;
    height: 400px;
    background: url(../img/Rectangle\ 37.png) center/cover;
}

.company-slider-block-gradient{
    width: 100%;
    height: 100%;
    background: rgba(22, 33, 52, 0.45);
}

.active{
    width: 800px;
    height: 500px;
}

.active .company-slider-block-gradient{
    opacity: 0;
}

.company-slider-btns{
    display: flex;
    align-items: center;
    gap: 200px;
}

.company-slider-btn-left,
.company-slider-btn-right{
    width: 50px;
    height: 50px;
    background: none;
    outline: none;
    border-radius: 50%;
    border: 4px solid rgb(19, 47, 94);
}

.company-slider-radiobtns{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.company-slider-radiobtns input{display: none;}

.company-slider-label{
    width: 20px;
    height: 20px;
    background: rgb(19, 47, 94);
    border-radius: 50%;
}

.company-slider-pacman{
    position: absolute;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgb(58, 111, 203);
    border-radius: 50%;
    transition: transform 1s;
    overflow: hidden;
}

.company-slider-pacman-triangle{
    position: absolute;
    right: -1px;
    width: 18px;
    height: 30px;
    clip-path: polygon(100% 10%, 0 50%, 100% 90%);
    background: white;
}

.triangle-left{
    right: auto;
    left: -1px;
    transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
}

.triangle-active{
    animation: 2 pacman 0.5s;
}

@keyframes pacman {
    0%{
        clip-path: polygon(100% 10%, 0 50%, 100% 90%);
    }
    50%{
        clip-path: polygon(100% 50%, 0 50%, 100% 50%);
    }
    100%{
        clip-path: polygon(100% 90%, 0 50%, 100% 0);
    }
}