.light,
:root{
    --navbar-footer-bg:#21262D;
    --color-1-default:white;
    --color-2-default:black;
    --color-3-default:#55555c;
    --color-4-default:#9c1212;
    --color-default-headers:#21262D;
    --color-default-headers-bg:#132f5e;
    --text-hover-color:#2F97FF;
    --body-parts-bg:#d5d7de;
    --body-parts-bg-gradient:#c7c9d3;
    --body-parts-bg-2:white;
    --language-theme-bg:#F1F1F1;
    --language-theme-hover-bg:#c9cbd1;
    --background-picture-invert: invert(0%);
    --text-size-std-50:50px;
    --text-size-std-42:42px;
    --text-size-std-40:40px;
    --text-size-std-38:38px;
    --text-size-std-32:32px;
    --text-size-std-30:30px;
    --text-size-std-28:28px;
    --text-size-std-26:26px;
    --text-size-std-24:24px;
    --text-size-std-22:22px;
    --text-size-std-20:20px;
    --text-size-std-18:18px;
    --text-size-std-16:16px;
    --text-size-std-14:14px;
    --text-size-std-12:12px;
    --icon-pp: 80px;
    --icon-team-card-links: 25px;
    --icon-projects-card-2-links: 300px;
}

.dark,
.root-dark{
    --navbar-footer-bg:#13121b;
    --color-1-default:white;
    --color-2-default:white;
    --color-3-default:#a7a7b8;
    --color-4-default:#d62222;
    --color-default-headers:white;
    --color-default-headers-bg:#2f4eff;
    --text-hover-color:#2f4eff;
    --body-parts-bg:#222225;
    --body-parts-bg-gradient:#1e1e21;
    --body-parts-bg-2:#1c1c1f;
    --language-theme-bg:#36363b;
    --language-theme-hover-bg:#303035;
    --background-picture-invert: invert(100%);
}

body {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--body-parts-bg);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 90px;
    background: var(--navbar-footer-bg);
    box-shadow: 0px 4px 10px rgba(8, 10, 46, 0.6);
    padding: 15px 40px;
    box-sizing: border-box;
    z-index: 3;
    top: 0px;
}

.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-logo {
    width: 90px;
    height: 60px;
    background: #D5D7DE;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navbar-center-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-24);
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-1-default);
    text-decoration: none;
    transition: color 200ms;
}

.navbar-center-link:active {
    color: var(--text-hover-color);
}

.navbar-rigth-contact-us {
    box-sizing: border-box;
    padding: 3px 15px;
    border: 1px solid var(--color-1-default);
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-24);
    line-height: 39px;
    text-align: center;
    color: var(--color-1-default);
    background: none;
    cursor: pointer;
    transition: color 300ms, border 300ms;
}

.navbar-rigth-contact-us:hover {
    border: 1px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.navbar-rigth-burger-menu{
    display: none;
    background: none;
    border: none;
    outline: none;
    flex-direction: column;
    gap: 8px;
    padding: 0px;
}

.navbar-rigth-burger-menu-icon-1,
.navbar-rigth-burger-menu-icon-2,
.navbar-rigth-burger-menu-icon-3{
    border-radius: 5px;
    background: var(--color-1-default);
    width: 40px;
    height: 6px;
    transition: transform 500ms, opacity 200ms;
}

.navbar-telphone-version{
    display: block;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 0vh;
    background-color: var(--navbar-footer-bg);
    opacity: 0.95;
    z-index: 2;
    overflow: hidden;
    transition: height 500ms;
}

.navbar-telphone-block{
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
    margin: 110px 20px 110px auto;
    align-items: flex-end;
}

.navbar-telphone-contacts,
.navbar-telphone-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-26);
    text-align: right;
    color: var(--color-1-default);
    text-decoration: none;
    transition: color 200ms;
}

.navbar-telphone-contacts{
    width: fit-content;
    border-bottom: 2px solid var(--color-1-default);
    padding-bottom: 20px;
    box-sizing: border-box;
}

.navbar-telphone-link:active {
    color: var(--text-hover-color);
}

.language-theme{
    position: fixed;
    padding-top: 90px;
    right: 0px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1px 1fr;
    flex-direction: column-reverse;
    z-index: 1;
    box-sizing: border-box;
}

.theme{
    position: relative;
    overflow: hidden;
    margin-top: auto;
    border-top-left-radius: 5px;
}

.theme-options{
    height: 0px;
    transition: height 500ms;
}

.theme:hover > .theme-options{
    height: 50px;
}

.language{
    position: relative;
    overflow: hidden;
    margin-bottom: auto;
    border-bottom-left-radius: 5px;
}

.language-options{
    height: 0px;
    transition: height 1s;
}

.language:hover > .language-options{
    height: 250px;
}

.language-theme-line{
    height: 1px;
    background: var(--language-theme-hover-bg);
}

.theme-option,
.language-option{
    position: relative;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: var(--language-theme-bg);
    transition: background 200ms;
}

.language-inside:hover > .language-block-options{height: 250px;}

.theme-option:hover,
.theme:hover > .theme-chosen .theme-option,
.language-option:hover,
.language:hover > .language-chosen .language-option{
    background: var(--language-theme-hover-bg);
}

.theme-option-color{
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
}

.option-color-2{
    background: white;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.6));
}

.language-flag{
    width: 18px;
    height: 14px;
    background: url(../img/Ukraine.jpg) center/cover;
}

.theme-txt,
.language-txt{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--text-size-std-16);
    color: var(--color-2-default);
}




.footer {
    width: 100%;
    background: var(--navbar-footer-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: var(--color-1-default);
    padding: 50px 0px;
}

.footer h2 {
    margin: 0px;
    font-size: var(--text-size-std-24);
}

.footer p {
    max-width: 400px;
    margin: 0px 30px;
    font-size: var(--text-size-std-16);
}

.contactsblock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.contact img {
    width: 100%;
    filter: invert();
}

.main {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width:1200px) {
    .navbar-rigth-burger-menu{
        display: flex;
    }
    .navbar-rigth-contact-us,
    .navbar-center{
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .navbar-telphone-version{
        display: none;
    }
}

@media screen and (max-width:900px) {
    :root{
        --text-size-std-50: 45px;
        --text-size-std-42: 38px;
        --text-size-std-40: 36px;
        --text-size-std-38: 34px;
        --text-size-std-32: 29px;
        --text-size-std-30: 27px;

        --text-size-std-28: 25px;
        --text-size-std-26: 24px;
        --text-size-std-24: 22px;
        --text-size-std-22: 20px;

        --text-size-std-20: 18px;
        --text-size-std-18: 16px;
        --text-size-std-16: 15px;
        --text-size-std-14: 13px;

        --icon-pp: 70px;
        --icon-team-card-links: 23px;
    }
}

@media screen and (max-width:660px) {
    :root{
        --text-size-std-50: 40px;
        --text-size-std-42: 34px;
        --text-size-std-40: 32px;
        --text-size-std-38: 30px;
        --text-size-std-32: 26px;
        --text-size-std-30: 24px;

        --text-size-std-28: 23px;
        --text-size-std-26: 22px;
        --text-size-std-24: 20px;
        --text-size-std-22: 18px;
        
        --text-size-std-20: 16px;
        --text-size-std-18: 15px;
        --text-size-std-16: 14px;
        --text-size-std-14: 12px;
        --text-size-std-12: 11px;

        --icon-pp: 60px;
        --icon-team-card-links: 21px;
    }
}

@media screen and (max-width:680px) {
    :root{
        --icon-projects-card-2-links: 240px;
    }
}

@media screen and (max-width:560px) {
    :root{
        --text-size-std-50: 35px;
        --text-size-std-42: 30px;
        --text-size-std-40: 30px;
        --text-size-std-38: 26px;
        --text-size-std-32: 23px;
        --text-size-std-30: 21px;

        --text-size-std-28: 21px;
        --text-size-std-26: 20px;
        --text-size-std-24: 18px;
        --text-size-std-22: 16px;

        --text-size-std-20: 15px;
        --text-size-std-18: 14px;
        --text-size-std-16: 13px;
        --text-size-std-14: 12px;
        --text-size-std-12: 10px;

        --icon-pp: 50px;
        --icon-team-card-links: 18px;
        --icon-projects-card-2-links: 200px;
    }
}