body {
    padding: 0px;
    margin: 0px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #D5D7DE;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 90px;
    background: #21262D;
    box-shadow: 0px 4px 10px rgba(8, 10, 46, 0.6);
    padding: 15px 40px;
    box-sizing: border-box;
    z-index: 3;
    top: 0px;
}

.navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-logo {
    width: 90px;
    height: 60px;
    background: #EAEAEA;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navbar-center-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 200ms;
}

.navbar-center-link:active {
    color: #2F97FF;
}

.navbar-rigth-contact-us {
    box-sizing: border-box;
    padding: 3px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    cursor: pointer;
    transition: color 300ms, border 300ms;
}

.navbar-rigth-contact-us:hover {
    border: 1px solid #2F97FF;
    color: #2F97FF;
}

.navbar-rigth-burger-menu{
    display: none;
    background: none;
    border: none;
    outline: none;
}

.navbar-rigth-burger-menu-icon{
    color: white;
    font-size: 44px;
    transition: color 200ms;
}

.navbar-rigth-burger-menu:active > .navbar-rigth-burger-menu-icon{
    color: #2F97FF;
}

.navbar-telphone-version{
    display: none;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:#21262D;
    opacity: 0.95;
    z-index: 2;
    padding: 90px 0px;
}

.navbar-telphone-block{
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
    margin: 20px 20px 20px auto;
    align-items: flex-end;
}

.navbar-telphone-contacts,
.navbar-telphone-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 200ms;
}

.navbar-telphone-contacts{
    width: fit-content;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.navbar-telphone-link:active {
    color: #2F97FF;
}

.footer {
    width: 100%;
    background: #21262D;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px 0px;
}

.footer h2 {
    margin: 0px;
}

.footer p {
    max-width: 400px;
    margin: 0px 30px;
}

.contactsblock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.contact img {
    width: 100%;
    filter: invert();
}

.order-page {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width:1200px) {
    .navbar-rigth-burger-menu{
        display: block;
    }
    .navbar-rigth-contact-us,
    .navbar-center{
        display: none;
    }
}