.home-photo{
    margin-top: 90px;
    width: 100%;
    height: 600px;
    background: url(../img/header-bg.jpg) center/cover;
}

.home-photo-gradient{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background: rgba(22, 33, 52, 0.7);
}

.home-photo-txt-2,
.home-photo-txt-1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-size-std-38);
    max-width: 700px;
    color: var(--color-1-default);
    transition: 300ms;
    animation: startText1 0.9s;
    margin: 0px 100px;
}

.home-photo-txt-2{
    font-weight: 300;
    font-size: var(--text-size-std-20);
    max-width: 500px;
    animation: startText2 1s;
}

@keyframes startText1{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes startText2{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    25%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-info{
    padding: 80px 100px;
    background: var(--body-parts-bg-2);
}

.home-block-info{
    display: grid;
    grid-template-columns: 1fr 484px;
    margin: 0px auto;
    max-width: fit-content;
    gap: 60px;
}

.home-block-info-txt{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: fit-content;
    color: var(--color-2-default);
}

.home-info-top{
    padding: 15px 25px;
    background: var(--color-default-headers-bg);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: var(--text-size-std-28);
    color: var(--color-1-default);
    width: fit-content;
}

.home-info-txt{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-std-22);
    color: var(--color-2-default);
    max-width: 830px;
}

.home-info-btn{
    padding: 20px 50px;
    background: var(--color-default-headers-bg);
    box-shadow: 5px 5px 6px rgba(25, 62, 196, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: var(--text-size-std-30);
    color: #FFFFFF;
    width: fit-content;
    outline: none;
    border: none;
}

.home-block-info-img{
    width: 484px;
    height: 489px;
    background: url(../img/main.png) center/cover;
}

.home-photo-what-we-do{
    width: 100%;
    height: 400px;
    background: url(../img/technologies.jpg) center/cover;
}

.home-photo-gradient-what-we-do{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 400px;
    background: rgba(22, 33, 52, 0.8);
}

.home-photo-wwd-txt{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-size-std-42);
    margin: 80px 90px 0px 90px;
    color: var(--color-1-default);
}

.home-wwd{
    margin: -200px auto 0px auto;
}

.home-wwd-blocks{
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
    margin: 0px 100px;
    background: var(--body-parts-bg-2);
    border-radius: 10px;
    box-sizing: border-box;
}

.home-wwd-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}

.home-wwd-line{
    min-height: 2px;
    background: var(--body-parts-bg);
}

.home-wwd-block-top{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-size-std-38);
    padding: 20px 30px;
    color: var(--color-default-headers);
    width: fit-content;
    text-align: center;
}

.home-wwd-block-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.home-wwd-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-wwd-block-item-txt{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--text-size-std-20);
    color: var(--color-default-headers);
    transition: color 300ms;
}

.home-wwd-block-item-icon{
    font-size: var(--text-size-std-40);
    transition: color 300ms;
    color: var(--color-default-headers);
}

.home-wwd-block-item:hover > .home-wwd-block-item-icon,
.home-wwd-block-item:hover > .home-wwd-block-item-txt{
    color: var(--color-default-headers-bg);
}

.home-wwd-bottom{
    margin: 80px auto;
}

.home-wwd-bottom-inside{
    display: grid;
    grid-template-columns: auto min-content;
    gap: 100px;
    margin: 0px 200px;
}

.home-web-bottom-description{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--text-size-std-18);
    text-align: center;
    max-width: 370px;
    color: var(--color-2-default);
}

.home-web-bottom-button{
    padding: 20px 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--text-size-std-22);
    text-align: center;
    background: var(--body-parts-bg-2);
    border: 2px solid var(--language-theme-hover-bg);
    border-radius: 10px;
    margin: auto;
    color: var(--color-2-default);
}

.home-web-pages-links{
    display: flex;
    gap: 20px;
    transform: translateX(-200px);
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

.home-web-pages-links-2{
    transform: translateX(200px);
}

.home-web-pages-link{
    font-size: var(--text-size-std-30);
}

.wp-git{
    background: url(../img/github.svg);
    background-position-x: calc(100% + 160px);
}
.wp-telegram{
    background: url(../img/telegram\ \(1\).svg);
    background-position-x: -160px;
}
.wp-unity{
    background: url(../img/unity.svg);
    background-position-x: calc(100% + 160px);
}
.wp-other{
    background: url(../img/sketch.svg);
    background-position-x: -160px;
}

.wp-git,
.wp-telegram,
.wp-unity,
.wp-other{
    background-repeat: no-repeat;
    background-size: 320px 320px;
    background-position-y: 50%;
    filter: var(--background-picture-invert);
}

.home-web-pages-white{
    background: var(--body-parts-bg-2);
}

.home-web-pages-isnide-2,
.home-web-pages-isnide{
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 100px;
    box-sizing: border-box;
}

.home-web-pages-txt{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: var(--text-size-std-50);
    transform: translateX(-200px);
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

.home-web-pages-txt-2{
    transform: translateX(200px);
}

.home-web-pages-description-2,
.home-web-pages-description{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: var(--text-size-std-18);
    margin-right: 150px;
    max-width: 1200px;
    transform: translateX(-200px);
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

.home-web-pages-isnide-2{
    align-items: flex-end;
}

.home-web-pages-description-2{
    text-align: right;
    margin-left: 200px;
    margin-right: 0px;
    transform: translateX(200px);
}

.show{
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (max-width:1200px){
    .home-wwd-block-item{
        flex-direction: column;
    }
    .home-wwd-block-top{
        width: min-content;
    }
    .home-block-info {
        grid-template-columns: 1fr;
    }
    .home-block-info-img{
        margin: 0px auto;
    }
    .home-block-info-txt{
        text-align: center;
        align-items: center;
    }
    :root{
        --text-size-std-30:28px;
    }
}

@media screen and (max-width:1160px) {
    .home-wwd-blocks{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2px 1fr 2px 1fr 2px 1fr;
    }
    .home-wwd-block{
        flex-direction: row;
        gap: 20px;
    }
    .home-wwd-items{
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width:1090px) {
    .home-wwd-block{
        flex-direction: row;
        gap: 20px;
    }
    .home-wwd-items{
        flex-wrap: wrap;
    }
    .home-wwd-block-item{
        float: left;
    }
    .home-photo-wwd-txt{
        margin: 80px 100px 0px 100px;
    }
    .home-wwd{
        margin-top: -135px;
    }
}

@media screen and (max-width:780px) {
    .home-web-pages{
        background: none;
    }
    .home-web-pages-isnide-2, .home-web-pages-isnide{
        text-align: center;
    }
    .home-web-pages-description-2, .home-web-pages-description{
        margin: 0px;
        text-align: center;
    }
    .home-web-pages-links{
        justify-content: center;
    }
    .home-web-pages-isnide-2{
        align-items: center;
    }
    .home-wwd-bottom-inside{
        gap: 50px;
        margin: 0px 100px;
    }
}

@media screen and (max-width:684px) {
    .home-block-info-img{
        width: calc(100vw - 200px);
        height: calc(100vw - 200px);
    }
}

@media screen and (max-width:680px) {
    .home-wwd-blocks{
        display: flex;
        flex-direction: column;
    }
    .home-wwd-block{
        flex-direction: column;
    }
    .home-wwd-items{
        justify-content: center;
    }
    .home-photo-wwd-txt{
        max-width: 455px;
    }
    .home-wwd{
        margin-top: -70px;
    }
}

@media screen and (max-width:530px) {
    .home-photo-wwd-txt{
        max-width: 320px;
    }
    .home-photo-wwd-txt{
        margin-top: 40px;
    }
    .home-wwd-bottom-inside{
        grid-template-columns: 1fr;
        grid-template-rows: auto min-content;
        gap: 40px;
    }
    .home-block-info-img{
        display: none;
    }
}

@media screen and (max-width:450px) {
    .home-web-pages-isnide-2, .home-web-pages-isnide, .home-wwd-blocks, .home-wwd-bottom-inside, .home-block-info, .home-photo-txt-2, .home-photo-txt-1{
        width: 250px;
        margin: 0px auto;
    }
    .home-info{
        padding: 80px 0px;
    }
}

@media screen and (min-width:1580px) {
    .wp-unity,
    .wp-git{
        background-position-x: 1420px;
    }
    .wp-telegram,
    .wp-other{
        background-position-x: calc(100% - 1420px);
    }
}

@media screen and (min-width:1840px) {
    .home-web-pages{
        width: 1840px;
        margin: 0px auto;
    }
}