.actual-orders{
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, var(--body-parts-bg) 0%, var(--body-parts-bg) 76.35%, var(--body-parts-bg-gradient) 100%);
}

.actual-orders-inside{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 170px auto 60px auto;
    transform: translateX(15px);
}

.actual-slider-top{
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.actual-slider-top-btns{
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 20px;
}

.actual-slider-top-txt{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-50);
    text-align: center;
    color: var(--color-2-default);
}

.actual-slider-top-btnleft,
.actual-slider-top-btnright{
    display: flex;
    background: none;
    border: none;
    color: var(--color-2-default);
    border: 2px solid var(--color-2-default);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    cursor: pointer;
    transition: color 250ms, border 250ms;
}

.actual-slider-top-btnleft:active,
.actual-slider-top-btnright:active{
    border: 2px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.actual-slider-top-arrow{
    font-size: var(--text-size-std-24);
    margin: auto;
}

.actual-slider-top-btn{
    box-sizing: border-box;
    padding: 5px 15px;
    border: 2px solid var(--color-2-default);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-24);
    text-align: center;
    color: var(--color-2-default);
    background: none;
    cursor: pointer;
    transition: color 300ms, border 300ms;
}

.actual-slider-top-btn:hover{
    border: 2px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.actual-slider-main-overflow{
    width: 1130px;
    overflow: hidden;
    position: relative;
    height: 420px;
}

.actual-slider-main-full{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 70px;
    transition: left 1s;
    left: -1560px;
    padding-bottom: 20px;
}

.actual-slider-main-block{
    width: 320px;
    height: 400px;
    background: var(--language-theme-bg);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 200px 1fr auto;
    box-sizing: border-box;
    overflow: hidden;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
    color: var(--color-2-default);
}

.slider-block-1,
.slider-block-2,
.slider-block-3,
.slider-block-4{
    opacity: 0;
    transition: opacity 150ms;
}

.actual-slider-image{
    background: #5f5f5f;
}

.actual-slider-under-image{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px;
}

.actual-slider-bottom,
.actual-slider-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actual-slider-description-txt{
    font-size: var(--text-size-std-16);
    color: var(--color-3-default);
}

.actual-slider-underline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actual-slider-line{
    height: 2px;
    background: var(--language-theme-hover-bg);
}

.actual-slider-txt{
    font-size: var(--text-size-std-22);
    font-weight: 600;
    text-align: center;
}

.actual-slider-cost{
    display: flex;
    flex-direction: column;
}

.actual-slider-cost-1{
    color: var(--color-4-default);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-22);
    text-align: left;
}

.actual-slider-cost-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-12);
    color: var(--color-3-default);
}

.actual-slider-more{
    font-size: var(--text-size-std-16);
    width: min-content;
    font-weight: 600;
    text-align: center;
    transition: color 300ms;
    text-decoration: none;
    color: var(--color-2-default );
}

.actual-slider-more:hover{
    color: var(--color-4-default);
}

.orderbar{
    width: 100%;
    background: var(--navbar-footer-bg);
    box-sizing: border-box;
}

.orderbar-line{
    width: 100%;
    height: 6px;
    background: white;
}

.orderbar-blocks{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.orderbar-blocks-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.orderbar-block{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orderbar-block-top{
    display: flex;
    gap: 10px;
    color: var(--color-1-default);
    font-size: var(--text-size-std-14);
    align-items: center;
}

.orderbar-block-type,
.orderbar-block-type-2,
.orderbar-block-dropdown,
.orderbar-block-dropdown-2{
    position: relative;
    display: flex;
    padding: 10px 15px;
    font-size: var(--text-size-std-18);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    gap: 10px;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    width: max-content;
    height: 45px;
}

.orderbar-block-type-2::placeholder,
.orderbar-block-type::placeholder{
    font-size: var(--text-size-std-18);
    font-weight: 600;
    color: white;
}

.orderbar-dropdown-menu-2,
.orderbar-dropdown-menu{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 5px 0px;
    border: 2px solid white;
    border-radius: 10px;
    top: 56px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    min-width: max-content;
    transition: opacity 300ms;
    background: var(--navbar-footer-bg);
}

.orderbar-dropdown-menu-item-2,
.orderbar-dropdown-menu-item{
    font-size: var(--text-size-std-16);
    padding: 5px 10px;
    transition: color 200ms;
    transition: background 300ms;
}

.orderbar-dropdown-menu-item-2:hover,
.orderbar-dropdown-menu-item:hover{
    color: black;
    background: white;
}

.orderbar-btn{
    padding: 10px 15px;
    font-size: var(--text-size-std-18);
    font-weight: 600;
    background: rgba(152, 151, 223, 0.3);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
    box-sizing: border-box;
    width: max-content;
    height: 45px;
    margin-top: auto;
    cursor: pointer;
}

.order-types{
    background: var(--body-parts-bg-2);
    display: flex;
    align-items: center;
}

.order-types-inside{
    padding: 80px 0px;
    margin: 0px auto;
}

.order-types-block{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    gap: 40px;
    max-width: 1490px;
}

.order-types-top{
    max-width: 1490px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-2-default);
}

.order-types-top-txt{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-50);
    text-align: center;
}

.order-types-top-btn{
    box-sizing: border-box;
    padding: 5px 15px;
    border: 2px solid var(--color-2-default);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size-std-24);
    text-align: center;
    background: none;
    cursor: pointer;
    transition: color 300ms, border 300ms;
}

.order-types-top-btn:hover{
    border: 2px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.order-types-main{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 1490px;
}

.order-types-main-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#order-types-bottom-2{border-bottom-left-radius: 10px;}
#order-types-bottom-1{border-bottom-right-radius: 10px;}
#order-types-top-1{border-top-left-radius: 10px;}
#order-types-top-2{border-top-right-radius: 10px;}

.order-types-main-left,
.order-types-main-left-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background: var(--body-parts-bg);
    align-items: center;
    backdrop-filter: blur(10px);
    gap: 20px;
    transform: translateX(100vw);
    transition: transform 0.5s;
    color: var(--color-2-default);
}

.order-types-main-left-2{
    transform: translateX(-100vw);
    transition: transform 0.5s;
}

.order-types-main-txt{
    font-size: var(--text-size-std-28);
    font-weight: 600;
    text-align: center;
    width: max-content;
}

.order-types-main-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order-types-main-link{
    width: var(--icon-pp);
    height: var(--icon-pp);
    background: url(../img/powerpoint.png) center/cover;
    opacity: 1;
}

.order-types-main-description, 
.order-types-main-description-2{
    padding: 20px;
    background: var(--navbar-footer-bg);
    backdrop-filter: blur(10px);
    color: white;
    font-size: var(--text-size-std-16);
    transform: translateX(-100vw);
    transition: transform 0.5s;
}

.order-types-main-description-2{
    transform: translateX(100vw);
    transition: transform 0.5s;
}

.show{
    transform: translateX(0px);
}

@media screen and (min-width:1590px) {
    .actual-slider-top{
        max-width: 1520px;
    }
    .actual-slider-main-overflow {
        width: 1520px;
    }
}

@media screen and (max-width:1200px) {
    .actual-slider-top{
        flex-direction: column;
        gap: 10px;
    }
    .actual-slider-main-overflow {
        width: 740px;
    }
}

@media screen and (max-width:1072px) {
    .order-types-main-links{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .orderbar-blocks{
        gap: 30px;
    }
    .orderbar-blocks-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 5px;
    }
    .orderbar-block{
        align-items: flex-start;
    }
    .orderbar-block-type,
    .orderbar-block-type-2,
    .orderbar-block-dropdown,
    .orderbar-block-dropdown-2{
        border: 1px solid white;
    }
}

@media screen and (max-width:900px){
    .order-types-top{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media screen and (max-width:804px) {
    .order-types-main-block{
        display: flex;
        flex-direction: column;
    }
    .order-types-main-block:nth-child(2n){
        flex-direction: column-reverse;
    }
    .order-types-main-links{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .order-types-main-txt{
        width: auto;
    }
    .actual-slider-top{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px;
        gap: 10px;
    }
    .actual-slider-top-btns{
        width: fit-content;
        margin: 0px auto;
    }
    .actual-slider-top-line{
        display: none;
    }
    .actual-slider-top-txt{
        text-align: center;
        width: min-content;
        margin: 0px auto;
    }
    .actual-slider-main-overflow {
        width: 350px;
    }
    .order-types-main-description, .order-types-main-description-2{
        text-align: center;
    }
    #order-types-bottom-1{border-bottom-left-radius: 0px;}
    #order-types-bottom-2{border-bottom-left-radius: 10px;}
    #order-types-bottom-2{border-bottom-right-radius: 10px;}
    #order-types-top-1{border-top-left-radius: 10px;}
    #order-types-top-1{border-top-right-radius: 10px;}
    #order-types-top-2{border-top-right-radius: 0px;}
}


@media screen and (max-width:640px) {
    .order-types-main-links{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .order-types-top {
        grid-template-columns: auto;
        text-align: center;
    }
    .order-types-top-line{
        display: none;
    }
}

@media screen and (max-width:616px) {
    .orderbar-blocks{
        gap: 20px;
        flex-direction: column;
        width: fit-content;
        margin: 30px auto;
    }
}

@media screen and (max-width:450px) {
    .order-types-block{
        width: 250px;
        margin: 0px auto;
    }
}