.actual-orders{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px auto;
    margin-top: 116px;
}

.actual-slider-top{
    max-width: 1100px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr 120px;
    align-items: center;
}

.actual-slider-top-btns{
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 20px;
}

.actual-slider-top-txt{
    font-size: 40px;
    font-weight: 600;
}

.actual-slider-top-line{
    height: 3px;
    border-radius: 2px;
    background: #151515;
}

.actual-slider-top-btnleft,
.actual-slider-top-btnright{
    display: flex;
    border: 2px solid #151515;
    border-radius: 50%;
    height: 50px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.6);
    transition: background 250ms;
}

.actual-slider-top-btnleft:active,
.actual-slider-top-btnright:active{
    background: rgba(255, 255, 255, 0.8);
}

.actual-slider-top-arrow{
    font-size: 25px;
    margin: auto;
}

.actual-slider-main-overflow{
    width: 1100px;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.actual-slider-main-full{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 70px;
    transition: left 1s;
    left: -1560px;
}

.actual-slider-main-block{
    width: 320px;
    height: 400px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 200px 1fr 3px auto;
    gap: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    overflow: hidden;
}

.slider-block-1,
.slider-block-2,
.slider-block-3,
.slider-block-4{
    opacity: 0;
    transition: opacity 150ms;
}

.actual-slider-image{
    background: rgb(95, 95, 95);
}

.actual-slider-underline,
.actual-slider-description{
    padding: 0px 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.actual-slider-line{
    height: 3px;
    background: rgb(95, 95, 95);
}

.actual-slider-underline{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actual-slider-txt{
    font-size: 22px;
    font-weight: 600;
}

.actual-slider-cost{
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.actual-slider-more{
    display: flex;
    flex-direction: row;
    width: min-content;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    text-align: center;
    transition: color 300ms;
    text-decoration: none;
    color: #151515;
}

.actual-slider-more-icon{
    margin: 0px 20px 0px 0px;
    transition: margin 300ms;
}

.actual-slider-more:hover > .actual-slider-more-icon{
    margin: 0px 0px 0px 20px;
    color: #69aed8;
}

.actual-slider-more:hover{
    color: #69aed8;
}

.orderbar{
    width: 100%;
    background: #151515;
    border-top: 4px solid white;
    padding: 30px 0px 20px 0px;
    box-sizing: border-box;
}

.orderbar-blocks{
    display: flex;
    justify-content: center;
}

.orderbar-blocks-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.orderbar-block{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orderbar-block-top{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 14px;
    align-items: center;
}

.orderbar-block-type,
.orderbar-block-type-2,
.orderbar-block-dropdown,
.orderbar-block-dropdown-2{
    position: relative;
    display: flex;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(172, 172, 172);
    border: 1px solid white;
    border-right: 0px;
    color: white;
    gap: 10px;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    width: max-content;
    height: 45px;
}

.orderbar-block-type-2::placeholder,
.orderbar-block-type::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.orderbar-dropdown-menu-2,
.orderbar-dropdown-menu{
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 5px 0px;
    background: rgb(172, 172, 172);
    border: 1px solid white;
    border-radius: 5px;
    top: 56px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    min-width: max-content;
    transition: opacity 300ms;
}

.orderbar-dropdown-menu-item-2,
.orderbar-dropdown-menu-item{
    font-size: 16px;
    padding: 5px 10px;
    transition: color 200ms;
    transition: background 300ms;
}

.orderbar-dropdown-menu-item-2:hover,
.orderbar-dropdown-menu-item:hover{
    color: black;
    background: white;
}

.orderbar-btn{
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(150, 10, 10);
    border: 1px solid white;
    color: white;
    outline: none;
    box-sizing: border-box;
    width: max-content;
    height: 45px;
    margin-top: auto;
}

.order-types{
    margin: 0px auto;
}

.order-types-block{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    gap: 40px;
    max-width: 1490px;
}

.order-types-top{
    max-width: 1490px;
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.order-types-top-txt{
    font-size: 40px;
    font-weight: 600;
}

.order-types-top-line{
    height: 3px;
    border-radius: 2px;
    background: #151515;
}

.order-types-main{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 1490px;
}

.order-types-main-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.order-types-main-left,
.order-types-main-left-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    align-items: center;
    backdrop-filter: blur(30px);
    gap: 20px;
    transform: translateX(100vw);
    transition: transform 0.6s ease;
}

.order-types-main-left-2{
    transform: translateX(-100vw);
    transition: transform 0.6s ease;
}

.order-types-main-txt{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    width: max-content;
}

.order-types-main-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order-types-main-link{
    width: 80px;
    height: 80px;
    background: url(../img/powerpoint.png) center/cover;
    opacity: 1;
}

.order-types-main-description, 
.order-types-main-description-2{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    color: white;
    font-size: 16px;
    transform: translateX(-100vw);
    transition: transform 0.6s ease;
}

.order-types-main-description-2{
    transform: translateX(100vw);
}

.show{
    transform: translateX(0px);
}

.order-footer{
    position: relative;
    width: 100%;
    height: 210px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
    padding: 20px 0px;
    box-sizing: border-box;
    text-align: center;
}

.order-footer-txt{
    font-size: 18px;
}

.order-footer-contects,
.order-footer-description{
    font-size: 12px;
    max-width: 400px;
    margin: 0px 20px;
}


@media screen and (min-width:1590px) {
    .actual-slider-top{
        max-width: 1490px;
    }
    .actual-slider-main-overflow {
        width: 1490px;
    }
}

@media screen and (max-width:1200px) {
    .actual-slider-main-overflow {
        width: 710px;
    }
}

@media screen and (max-width:1072px) {
    .order-types-main-links{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .orderbar-blocks{
        gap: 30px;
    }
    .orderbar-blocks-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 5px;
    }
    .orderbar-block{
        align-items: flex-start;
    }
    .orderbar-block-type,
    .orderbar-block-type-2,
    .orderbar-block-dropdown,
    .orderbar-block-dropdown-2{
        border: 1px solid white;
    }
}

@media screen and (max-width:804px) {
    .order-types-main-block{
        display: flex;
        flex-direction: column;
    }
    .order-types-main-block:nth-child(2n){
        flex-direction: column-reverse;
    }
    .order-types-main-links{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .order-types-main-txt{
        width: auto;
    }
    .actual-slider-top{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px;
        gap: 10px;
    }
    .actual-slider-top-btns{
        width: fit-content;
        margin: 0px auto;
    }
    .actual-slider-top-line{
        display: none;
    }
    .actual-slider-top-txt{
        text-align: center;
        width: min-content;
        margin: 0px auto;
    }
    .actual-slider-main-overflow {
        width: 320px;
    }
}


@media screen and (max-width:640px) {
    .order-types-main-links{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .order-types-top {
        grid-template-columns: auto;
        text-align: center;
    }
    .order-types-top-line{
        display: none;
    }
}

@media screen and (max-width:616px) {
    .orderbar{
        display: flex;
        justify-content: center;
    }
    .orderbar-blocks{
        gap: 20px;
        flex-direction: column;
        width: fit-content;
    }
}

@media screen and (max-width:500px) {
    .order-types-main{
        width: 300px;
    }
    .order-types-block{
        margin: 0px auto;
    }
}