
.our-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    background: url(https://images.squarespace-cdn.com/content/v1/595adce2197aeab243fcc462/1579804825354-3FJ1ZYEF824JOH2LRGFO/VKT_F190000.jpg?format=1500w) center/cover;
}

.our-team-txt {
    font-size: 60px;
    font-weight: 600;
    margin: 0px 20px;
    color: white;
    text-shadow: 0 5px 0 rgb(0, 0, 0);
    text-align: center;

}

.team-people-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
    gap: 50px;
}

.team-people-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    padding-bottom: 12px;
    border-radius: 20px;
    transition: 2s;
    transform: translateX(100vw);
    transition: transform 0s;
}

.team-people-card:hover {
    transition: .5s;
    transform: translateY(-50px);
}

.team-people-card-image {
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.team-people-card-nameicon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.team-people-card-name {
    font-size: 26px;
    font-weight: 600;
}

.team-people-card-nameicon,
.team-people-card-txt,
.team-people-card-links {
    margin: 0px 12px;
}

.team-people-card-txt {
    font-size: 16px;
    height: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.team-people-card-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0px auto;
}

.team-people-card-link {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.link-1 {
    background: url(../img/github.png) center/cover;
}

.link-2 {
    background: url(../img/instagram.png) center/cover;
}

.link-3 {
    background: url(../img/figma.png) center/cover;
}

.link-4 {
    background: url(../img/telegram.png) center/cover;
}

.show {
    transition: transform 2s cubic-bezier(.6, 0, .39, 1.21);
    transform: translateX(0px);
}

@media screen and (max-width:1690px) {
    .team-people-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(30px);
    z-index: 2;
    cursor: pointer;
    animation: overlay 1s forwards;
}
/* animations block xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.memberblock {
    width: 50%;
    display: grid;
    grid-template-columns: 1.1fr 1.9fr;
    margin-left: auto;
    margin-right: auto;
    background: rgb(156,156,156);
    background: linear-gradient(317deg, rgba(156,156,156,1) 0%, rgba(255,255,255,1) 50%);
    border-radius: 30px;
    margin-top: 25vh;

    color: rgb(0, 0, 0);
}

.memberblock img {
    width: 100%;
    height: 480px;
    border-radius: 30px 0 0 30px;
}

.memberblock div {
    width: 90%;
    padding: 35px;
}

.memberblock p {
    font-weight: 300;
    font-size: 17px;
}
.navbar {
    transform: translateY(-150%);
    animation: ani 3s forwards;
  }
  
  @keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  }
  .mainblock {
    transform: translateY(-150%);
    animation: ani 3s forwards;
  }
  @keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  }

  .invisiblechangeplace{
    width: 7vh;
    height: 7vh;
    margin-top: -3vh;
    position: absolute;
  }
  .changeblocktriangle{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 5px;
    position: absolute;
    margin-left: 45px;
    margin-top: 25px;
    z-index: -1;
    background-color: #202020;
  }
  .themesircle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 10px;
  }
  .dropdown1-content {
    display: none;
    position: absolute;
    width: 30%;
    height: 100px;
    margin-left: -6vh;
    margin-top: 6vh;
    border-radius: 10px;
    background-color: #202020;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 1;
  }
  .dropdown1-content a p {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 15px;
    margin-left: 12px;
    margin-top: 0px;
    cursor: pointer;
  }
  .painticon:hover .dropdown1-content {display: grid;}
  
  .dropdown2-content {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    width: 10%;
    height: 10vh;
    margin-left: -6vh;
    margin-top: 6vh;
    border-radius: 10px;
    background-color: #202020;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown2-content a {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 1.8vh;
    margin: 1vh;
    display: block;
  }
  .dropdown2-content a:hover {
    text-decoration: underline;
  }
  .langicon:hover .dropdown2-content {display: grid;}
/* style block xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
